$dark-background-color: #0d0714;
$dark-container-color: #1d1825;
$dark-task-background-color: #15101c;
$dark-accent-color-1: #9e78cf;
$dark-accent-color-2: #78cfb0;
$dark-button-hover-color: #ab89d6;
$dark-text-color-1: #ffffff;
$dark-text-color-2: #777777;

$light-background-color: #f3ebff;
$light-container-color: #ffffff;
$light-task-background-color-1: #efe5ff;
$light-task-background-color-2: #dbfff2;
$light-accent-color-1: #9e78cf;
$light-accent-color-2: #78cfb0;
$light-button-hover-color: #ab89d6;
$light-text-color: #505050;
