@use "variables" as v;

@mixin flex-property(
  $flexDirection: row,
  $alignItems: flex-start,
  $justifyContent: flex-start,
  $gap: 0
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin lists($isTasksDoneList: false) {
  @include flex-property(column, null, null, 16px);

  & > li {
    width: 100%;
    padding: 1.375rem 1.25rem;
    background-color: v.$dark-secondary-color;
    border-radius: 10px;

    @if $isTasksDoneList == true {
      color: v.$dark-accent-text-color;
      text-decoration: line-through;
    }

    @if $isTasksDoneList == false {
      color: v.$dark-accent-color;
      @include flex-property(null, center, space-between, 16px);

      button {
        background-color: transparent;
      }
    }
  }
}
