$dark-background-color: #0d0714;
$dark-primary-color: #1d1825;
$dark-secondary-color: #15101c;
$dark-accent-color: #9e78cf;
$dark-primary-text-color: #ffffff;
$dark-secondary-text-color: #777777;
$dark-accent-text-color: #78cfb0;
