@use "reset";
@use "colors" as c;
@use "mixins";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  min-height: 100dvh;

  background-color: #{var(--background-color)};
  color: #{var(--text-color)};

  padding: 0 1rem;

  @include mixins.flex-property(row, center, center);

  & main {
    background-color: #{var(--container-color)};
    width: 100%;
    max-width: 36.5rem;
    padding: 3.25rem 2rem;
    margin: 5rem auto;
    border-radius: 20px;

    @include mixins.flex-property(column, center, null, 3.75rem);

    @include mixins.sm {
      padding: 3.25rem 4.6875rem;
    }
  }
}

.tasks__form {
  width: 100%;
  @include mixins.flex-property(null, null, space-between, 10px);

  & input {
    width: 100%;
    padding: 0.625rem 1rem;

    background-color: transparent;
    color: #{var(--text-color)};
    font-size: 1rem;

    border: 1px solid #{var(--accent-color-1)};
    border-radius: 10px;

    ::placeholder {
      color: #{var(--placeholder-color)};
    }
  }

  & button {
    @include mixins.primary-button();
  }
}

.tasks__list-section {
  width: 100%;
  @include mixins.flex-property(column, null, null, 16px);

  & > div {
    width: 100%;
    @include mixins.flex-property(null, center, space-between, 16px);
  }
}

.clear-tasks__btn {
  padding: 0.75rem;

  background-color: transparent;
  color: #{var(--accent-color-1)};

  border: 1px solid #{var(--accent-color-1)};
  border-radius: 4px;

  transition: background-color ease 0.25s, color ease 0.25s;

  &:hover {
    background-color: #{var(--accent-color-1)};
    color: #{var(--text-color)};
  }
}

.tasks__to-do {
  @include mixins.lists();
}

.tasks__done {
  @include mixins.lists(true);
}

.task__actions {
  @include mixins.flex-property(null, null, null, 8px);
}

.todo-list__config {
  @include mixins.flex-property(null, center, center, 8px);

  position: absolute;
  top: 20px;
  width: 100%;

  @include mixins.sm {
    right: 20px;
    width: fit-content;
  }
}

.toggle-theme__button {
  @include mixins.primary-button();
  height: 40px;
}
