@use "reset";
@use "variables" as v;
@use "mixins";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  min-height: 100dvh;

  background-color: v.$dark-background-color;
  color: v.$dark-primary-text-color;

  padding: 0 1rem;

  @include mixins.flex-property(row, center, center);

  & main {
    background-color: v.$dark-primary-color;
    width: 100%;
    max-width: 36.5rem;
    padding: 3.25rem clamp(1rem, 10vw, 4.6875rem);
    margin: 3rem auto;
    border-radius: 20px;

    @include mixins.flex-property(column, center, null, 3.75rem);
  }
}

.tasks__form {
  width: 100%;
  @include mixins.flex-property(null, null, space-between, 10px);

  & input {
    width: 100%;
    padding: 0.625rem 1rem;

    background-color: transparent;
    color: v.$dark-primary-text-color;

    border: 1px solid v.$dark-accent-color;
    border-radius: 10px;

    ::placeholder {
      color: v.$dark-secondary-text-color;
    }
  }

  & button {
    padding: 0 8px;
    background-color: v.$dark-accent-color;
    border-radius: 10px;

    transition: background-color ease 0.25s, color ease 0.25s;

    &:hover {
      background-color: v.$dark-accent-text-color;
    }
  }
}

.tasks__list-section {
  width: 100%;
  @include mixins.flex-property(column, null, null, 16px);

  & > div {
    width: 100%;
    @include mixins.flex-property(null, center, space-between, 16px);
  }
}

.clear-tasks__btn {
  padding: 0.5rem;

  background-color: transparent;
  color: v.$dark-accent-color;

  border: 1px solid v.$dark-accent-color;
  border-radius: 4px;

  transition: background-color ease 0.25s, color ease 0.25s;

  &:hover {
    background-color: v.$dark-accent-color;
    color: v.$dark-primary-text-color;
  }
}

.tasks__to-do {
  @include mixins.lists();
}

.tasks__done {
  @include mixins.lists(true);
}

.task__actions {
  @include mixins.flex-property(null, null, null, 8px);
}
